// variables colors

//purple
$primary-purple: #5429cc;
$secondary-purple: #6933ff;

//green
$primary-green: #33cc95;
$secondary-green: #33cc95;

//red
$primary-red: #e52e4d;

// white
$white: #ffffff;

//gray
$primary-gray: #f0f2f5;
$secondary-gray: #969CB2;
$gray-dark: #363f5f; 
